html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.nav-item{

    border-radius:10px;

}

.nav-item:hover {
     box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    background-color: #fff; 
     transition: box-shadow 0.3s, background-color 0.3s;
    }



.background-wrapper {
    
    min-height: 100vh;
    width: 100%;
}


