@page
@model KE03_INTDEV_SE_1_Base.Pages.IndexModel

@{
    ViewData["Title"] = "Login";
}

<video autoplay loop muted playsinline id="bg-video">
    <source src="/Videos/matrix.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<section class="vh-100 loginbackground">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card fade-in bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="post">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Voer je gebruikersnaam in</p>

                                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                                }

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="UserName" class="form-control form-control-lg" placeholder="Gebruikersnaam" />
                                
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

